a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_7ff5e910 th {  } 
#table_7ff5e910 td {  } 
#menu_3641b34f a { text-decoration: none; }
#menu_3641b34f_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3641b34f_hr { background-color: #646464; height: 1px; border: none; }
#menu_3641b34f_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3641b34f_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3641b34f_entry:hover span { color:#FFFFFF !important; }
		.menu_3641b34f_mainMenuEntry { text-align: center; }
		.menu_3641b34f_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_3641b34f_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_3641b34f .mobileEntry { display: none; } 
		#menu_3641b34f .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_3641b34f .mobileEntry { display: block; } 
			#menu_3641b34f .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_55838b2f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; min-width:200px; background:none;  }
#container_55838b2f_padding { margin: 10px; display: block;  }
#text_31aef475 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:28pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#000000;  }
.textstyle4 { font-size:13pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#text_7cdf3db { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle5 { font-size:20pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#container_19064119 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#2C2825;  }
#container_19064119_padding { margin: 10px; display: block;  }
#menu_3641b34f { vertical-align: bottom; position:relative; display: inline-block; width:336px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle7 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:34px; left:110px;  }
.menustyle3 { position:absolute; width:133px; height:34px; left:210px;  }
.menustyle4 { position:absolute; width:100px; height:34px; left:343px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle8 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_4d16e554 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:270px; background-color:#FFFFFF; background-image: url(rc_images/grass_field3.jpg); background-position:bottom left; background-size:cover;  }
#container_4d16e554_padding { margin: 10px; display: block;  }
#placeh_1bb988f3 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:343px;  }
#container_755a07dc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_755a07dc_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:20pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#000000;  }
#html_303afc8e { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:45px; max-width:800px; background-color:#FFFFFF;  }
#container_60529c1c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_60529c1c_padding { margin: 10px; display: block;  }
#table_7ff5e910 { vertical-align: bottom; position:relative; display: inline-table; width:79%; height:30px; background:none; table-layout: fixed;  }
#cell_3cd491ef {  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_2cf61306 {  }
@media only screen and (max-width: 450px)
{
		#menu_3641b34f { width:100px;  }
}
@media only screen and (max-width: 400px)
{
		#text_31aef475 * span { font-size:14pt;  }
		#text_7cdf3db { display:none;  }
}
